---
import Layout from '$lib/layouts/Layout.astro';
import Calculator from '$lib/components/calculator/Calculator.svelte';

const title = 'BOTHER REDUN CALC';
const description = 'TypeScript で作られためんどくさい電卓';
---

<Layout {title} {description}>
	<main>
		<Calculator client:load />
	</main>
</Layout>

<style is:global>
	:root {
		--white-a80: #ffffff50;
		--dark-a80: #00000050;
		--purple-pastel-a80: #d1d1ff50;
	}

	.window-acrylic {
		border: solid 1px var(--white-a80);
		border-radius: 2px;
		background-image: linear-gradient(
			to bottom left,
			var(--white-a80),
			var(--purple-pastel-a80)
		);
		backdrop-filter: blur(3px);
		box-shadow: 0px 2px 2.5px white;
	}
</style>

<style>
	html {
		touch-action: manipulation;
	}

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: var(--font-family);
		height: 100dvh;
		margin: 0;
		background-image: radial-gradient(circle, #000000, #555555);
	}

	main {
		display: inherit;
		justify-content: inherit;
		align-items: center;
		height: 100%;
	}

	@media screen and (max-width: 520px) {
		body {
			font-size: 14px;
		}
	}

	@media screen and (max-height: 640px) {
		body {
			font-size: 12px;
		}
	}
</style>
