---
import { sitename } from '$lib/lib/contentsList';
---

<footer>
	<a href="/">「{sitename}」へ</a>
</footer>

<style>
	footer {
		width: 100%;
		margin-top: 2rem;
		text-align: end;
	}

	a {
		text-decoration: none;
		margin-right: 2rem;
		padding: 0 0.5rem;
		color: var(--epaper-dark);
		background-color: var(--epaper-light);
	}

	a:active {
		color: var(--epaper-light);
		background-color: var(--epaper-dark);
	}
</style>
