---
import { contentList } from '$lib/lib/contentsList';
---

<nav>
	<ul>
		<li><a href="/">「さいしょ」</a></li>
		{
			contentList.map((content) => (
				<li>
					<a href={content.link} set:text={`「${content.title}」`} />
				</li>
			))
		}
	</ul>
</nav>

<style>
	nav {
		position: sticky;
		top: 0;
		font-size: 1.1rem;
		max-width: 100%;
		width: 100dvw;
		background-color: var(--epaper-light);
		border-bottom: solid 1px var(--epaper-dark);
	}

	a {
		color: var(--epaper-dark);
		background-color: var(--epaper-light);
		text-decoration: none;
	}

	a:hover {
		font-weight: bold;
	}

	a:active {
		color: var(--epaper-light);
		background-color: var(--epaper-dark);
	}

	ul {
		list-style-type: none;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-block: 0;
		padding-inline-start: 0;
	}

	li {
		text-align: center;
	}
</style>
