:root {
  --purple-pastel-a80: #d1d1ff50;
}

.window-acrylic {
  border: solid 1px var(--white-a80);
  border-radius: 2px;
  background-image: linear-gradient(
    to bottom left,
    var(--white-a80),
    var(--purple-pastel-a80)
  );
  backdrop-filter: blur(3px);
  box-shadow: 0px 2px 2.5px white;
}
