---
import Layout from '$lib/layouts/Layout.astro';
import Calculator from '$lib/components/calculator/Calculator.svelte';
import Footer from '$lib/components/basic/Footer.astro';
import { cssList } from '$lib/lib/common/cssList';

const title = 'BOTHER REDUN CALC';
const styles = [cssList.window];
const description = 'JavaScript で作られためんどくさい電卓';
---

<Layout {title} {styles} {description}>
	<main>
		<Calculator client:load />
	</main>
	<Footer />
</Layout>

<style>
	html {
		touch-action: manipulation;
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: var(--font-family);
		height: 100dvh;
		margin: 0;
		background-image: radial-gradient(circle, #000000, #555555);
	}

	main {
		display: inherit;
		justify-content: inherit;
		align-items: inherit;
	}

	@media screen and (max-width: 520px) {
		body {
			font-size: 14px;
		}
	}

	@media screen and (max-height: 640px) {
		body {
			font-size: 12px;
		}
	}
</style>
